:javascript
  var EVENT_ID = "#{@event.id}";

%p#notice= notice

- if @event.soundcloud_url
  .container{style: "position: relative; overflow: hidden;"}
    #graph{"data-url" => "#{@event.soundcloud_url}"}
    #player
    #testing{style: "position: absolute; height: 100%; background: #ff0000; width: 3px;"}
  %p
    %b Soundcloud url:
    = @event.soundcloud_url

- if @event.start_time
  %p
    %b Start time:
    = @event.start_time

- if @event.end_time
  %p
    %b End time:
    = @event.end_time

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Return Home', root_path

%header
  %h1
    = @event.title.titleize
    | Event Code:
    %span.event-code
  %h3
    Event Code (for participants):
    = @event.event_code
%section.record
  #recorderUI.reset
    %a#controlButton.record{href: "#", "data-track" => "#{@event.title}"}
      %span#controlState.btn.btn-danger
        %span.icon.glyphicon.glyphicon-record
        Record
    #otherControls
      %span#upload.btn.btn-info{href: "#"}
        %span.icon.glyphicon.glyphicon-cloud-upload
        Upload
      -#%a#reset.btn.btn-success{href: "#"}
        %span.icon.glyphicon.glyphicon-record
          Reset
      #state
    %h1#timer 0:00
    #uploadStatus
  - if @event.start_time.present?
    %button.btn.btn-info#makeplayer View Stats

.kanari-container{style: "position: relative; overflow: hidden;"}
  #graph
  #player
  #cursor{style: "position: absolute; height: 100%; background: #ff0000; width: 3px;"}