-#- content_for :javascript_placeholder do
-#  = javascript_include_tag "admin", "data-turbolinks-track" => true


%p#notice= notice


- if @event.soundcloud_url
  .container{style: "position: relative; overflow: hidden;"}
    #graph{"data-url" => "#{@event.soundcloud_url}"}
    #player
    #testing{style: "position: absolute; height: 100%; background: #ff0000; width: 3px;"}
  %p
    %b Soundcloud url:
    = @event.soundcloud_url

- if @event.start_time
  %p
    %b Start time:
    = @event.start_time

- if @event.end_time
  %p
    %b End time:
    = @event.end_time

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Return Home', root_path

%header
  %h1
    = @event.title.titleize
  %h2
    Your Event Code:
    = @event.event_code
%section.record
  #recorderUI.reset
    %a#controlButton.record{href: "#", "data-track" => "#{@event.title}"}
      %span#controlState.btn.btn-danger Record
    %h1#state
    %h1#timer 0:00
    #otherControls
      %a#reset.btn.btn-success{href: "#"} Reset
      %a#upload.btn.btn-info{href: "#"} Upload
    #uploadStatus
  %input{id: "event-uri", type: "text", value: "https://api.soundcloud.com/tracks/116130140", size: "100"}
  %button.btn.btn-info#makeplayer Test Player
.kanari-container{style: "position: relative; overflow: hidden;"}
  #graph
  #player
  #testing{style: "position: absolute; height: 100%; background: #ff0000; width: 3px;"}