%p#notice= notice

%p
  %b Title:
  = @event.title
%p
  %b Event code:
  = @event.event_code

- if @event.soundcloud_url
  %p
    %b Soundcloud url:
    = @event.soundcloud_url

- if @event.start_time
  %p
    %b Start time:
    = @event.start_time

- if @event.end_time
  %p
    %b End time:
    = @event.end_time

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Return Home', root_path
