!!!
/[if lt IE 7] <html class="ie lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="ie lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="ie lt-ie9" lang="en">
/[if IE 9 ]> <html lang="en" class="ie lt-ie10">
:plain
  <!--[if (gt IE 9)|!(IE)]>
%html{:lang => "en"}
  :plain
    <![endif]-->
  %head
    %title Kanari

    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = yield :javascript_placeholder
    = csrf_meta_tags

    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}

    :plain
      <!--[if lt IE 9]>
    = javascript_include_tag "manifests/ie_scripts"
    :plain
      <![endif]-->


  %body
    = yield


    - if Rails.env.development?
      :javascript
        SC.initialize({
          client_id: "bd5994b932bd05ae24fea9def79f6ebd",
          redirect_uri: "http://localhost:3000/callback.html"
        });
    - else
      :javascript
        SC.initialize({
            client_id: "f7cb0fd36d4e70322ccdff9f2d8729b1",
            redirect_uri: "http://messieurslikerumbles.r13.railsrumble.com/callback.html"
        });